<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    
  </configSections>
  <connectionStrings>
    <add name="123" connectionString="Data Source=(local);Initial Catalog=testDB; User ID=sa;Pwd=12345687" providerName="MyORMFrame.DBServerProvider.SQLServer"/>
  </connectionStrings>
</configuration>